<a href="https://colab.research.google.com/github/Ferrariagustinpablo/Data-Analytics-in-R/blob/main/Data_Manipulation_with_dplyr_(1)_using_US_census_dataset_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [16]:
# Load
library(dplyr)
library(ggplot2)

In [22]:
counties = readRDS("/content/counties.rds")
str(counties)

spec_tbl_df [3,138 × 40] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ census_id         : chr [1:3138] "1001" "1003" "1005" "1007" ...
 $ state             : chr [1:3138] "Alabama" "Alabama" "Alabama" "Alabama" ...
 $ county            : chr [1:3138] "Autauga" "Baldwin" "Barbour" "Bibb" ...
 $ region            : chr [1:3138] "South" "South" "South" "South" ...
 $ metro             : chr [1:3138] "Metro" "Metro" "Nonmetro" "Metro" ...
 $ population        : num [1:3138] 55221 195121 26932 22604 57710 ...
 $ men               : num [1:3138] 26745 95314 14497 12073 28512 ...
 $ women             : num [1:3138] 28476 99807 12435 10531 29198 ...
 $ hispanic          : num [1:3138] 2.6 4.5 4.6 2.2 8.6 4.4 1.2 3.5 0.4 1.5 ...
 $ white             : num [1:3138] 75.8 83.1 46.2 74.5 87.9 22.2 53.3 73 57.3 91.7 ...
 $ black             : num [1:3138] 18.5 9.5 46.7 21.4 1.5 70.7 43.8 20.3 40.3 4.8 ...
 $ native            : num [1:3138] 0.4 0.6 0.2 0.4 0.3 1.2 0.1 0.2 0.2 0.6 ...
 $ asian             : num [1:3138] 1 0.7 0.4 0.1 0.1 0.2 0.4 0.9 0.8 0.3 ...
 $ pacific           : num [1:3138] 0 0 0 0 0 0 0 0 0 0 ...
 $ citizens          : num [1:3138] 40725 147695 20714 17495 42345 ...
 $ income            : num [1:3138] 51281 50254 32964 38678 45813 ...
 $ income_err        : num [1:3138] 2391 1263 2973 3995 3141 ...
 $ income_per_cap    : num [1:3138] 24974 27317 16824 18431 20532 ...
 $ income_per_cap_err: num [1:3138] 1080 711 798 1618 708 ...
 $ poverty           : num [1:3138] 12.9 13.4 26.7 16.8 16.7 24.6 25.4 20.5 21.6 19.2 ...
 $ child_poverty     : num [1:3138] 18.6 19.2 45.3 27.9 27.2 38.4 39.2 31.6 37.2 30.1 ...
 $ professional      : num [1:3138] 33.2 33.1 26.8 21.5 28.5 18.8 27.5 27.3 23.3 29.3 ...
 $ service           : num [1:3138] 17 17.7 16.1 17.9 14.1 15 16.6 17.7 14.5 16 ...
 $ office            : num [1:3138] 24.2 27.1 23.1 17.8 23.9 19.7 21.9 24.2 26.3 19.5 ...
 $ construction      : num [1:3138] 8.6 10.8 10.8 19 13.5 20.1 10.3 10.5 11.5 13.7 ...
 $ production        : num [1:3138] 17.1 11.2 23.1 23.7 19.9 26.4 23.7 20.4 24.4 21.5 ...
 $ drive             : num [1:3138] 87.5 84.7 83.8 83.2 84.9 74.9 84.5 85.3 85.1 83.9 ...
 $ carpool           : num [1:3138] 8.8 8.8 10.9 13.5 11.2 14.9 12.4 9.4 11.9 12.1 ...
 $ transit           : num [1:3138] 0.1 0.1 0.4 0.5 0.4 0.7 0 0.2 0.2 0.2 ...
 $ walk              : num [1:3138] 0.5 1 1.8 0.6 0.9 5 0.8 1.2 0.3 0.6 ...
 $ other_transp      : num [1:3138] 1.3 1.4 1.5 1.5 0.4 1.7 0.6 1.2 0.4 0.7 ...
 $ work_at_home      : num [1:3138] 1.8 3.9 1.6 0.7 2.3 2.8 1.7 2.7 2.1 2.5 ...
 $ mean_commute      : num [1:3138] 26.5 26.4 24.1 28.8 34.9 27.5 24.6 24.1 25.1 27.4 ...
 $ employed          : num [1:3138] 23986 85953 8597 8294 22189 ...
 $ private_work      : num [1:3138] 73.6 81.5 71.8 76.8 82 79.5 77.4 74.1 85.1 73.1 ...
 $ public_work       : num [1:3138] 20.9 12.3 20.8 16.1 13.5 15.1 16.2 20.8 12.1 18.5 ...
 $ self_employed     : num [1:3138] 5.5 5.8 7.3 6.7 4.2 5.4 6.2 5 2.8 7.9 ...
 $ family_work       : num [1:3138] 0 0.4 0.1 0.4 0.4 0 0.2 0.1 0 0.5 ...
 $ unemployment      : num [1:3138] 7.6 7.5 17.6 8.3 7.7 18 10.9 12.3 8.9 7.9 ...
 $ land_area         : num [1:3138] 594 1590 885 623 645 ...

# Select()

In [106]:
# Only select some rows
counties_selected <- counties %>%
  select(state, region, county, population, private_work, public_work, self_employed, unemployment, walk)

head(counties_selected)

  state   region county  population private_work public_work self_employed
1 Alabama South  Autauga  55221     73.6         20.9        5.5
2 Alabama South  Baldwin 195121     81.5         12.3        5.8
3 Alabama South  Barbour  26932     71.8         20.8        7.3
4 Alabama South  Bibb     22604     76.8         16.1        6.7
5 Alabama South  Blount   57710     82.0         13.5        4.2
6 Alabama South  Bullock  10678     79.5         15.1        5.4
  unemployment walk
1  7.6         0.5
2  7.5         1.0
3 17.6         1.8
4  8.3         0.6
5  7.7         0.9
6 18.0         5.0

# arrange: sorts data

In [34]:
# Sort data by population descending.
counties_selected %>%
  arrange(desc(population)) %>%
  head(3)

  state      county      population private_work public_work self_employed
1 California Los Angeles 10038388   79.0         11.5        9.4
2 Illinois   Cook         5236393   83.9         11.5        4.5
3 Texas      Harris       4356362   83.4         10.1        6.3
  unemployment
1 10.0
2 10.7
3  7.5

# Filter

In [36]:
# Filter for counties in the state of California that have a population above 1000000
counties_selected %>%
  filter(state == "California", population > 1000000)

  state      county         population private_work public_work self_employed
1 California Alameda         1584983   78.7         13.8        7.4
2 California Contra Costa    1096068   77.5         13.6        8.7
3 California Los Angeles    10038388   79.0         11.5        9.4
4 California Orange          3116069   81.8         10.2        7.8
5 California Riverside       2298032   77.1         14.9        7.8
6 California Sacramento      1465832   70.8         21.8        7.3
7 California San Bernardino  2094769   76.4         16.7        6.7
8 California San Diego       3223096   77.3         14.8        7.7
9 California Santa Clara     1868149   84.3          9.3        6.4
  unemployment
1  8.3
2  8.8
3 10.0
4  7.6
5 12.9
6 11.8
7 12.6
8  8.7
9  7.7

In [49]:
# Filter top 5 counties with unemployment that have more than 100000 in pop
unemp <- counties_selected %>%
  filter(population > 100000) %>%
  arrange(desc(unemployment))

# Display head  
head(unemp, 5)

  state      county     population private_work public_work self_employed
1 Arizona    Navajo      107656    61.1         31.3        7.4
2 California Imperial    178206    66.6         27.8        5.2
3 California Merced      263885    76.7         16.2        7.0
4 California Stanislaus  527367    78.9         14.2        6.8
5 Michigan   Wayne      1778969    86.1         10.0        3.8
  unemployment
1 19.8
2 17.4
3 16.2
4 15.2
5 14.9

# Mutate

In [57]:
# Add new column of estimated unemployed people.
unemp %>%
  mutate(unemployed_pop = round(unemployment*population/100)) %>%
  arrange(desc(unemployed_pop)) %>%
  head(3)

  state      county      population private_work public_work self_employed
1 California Los Angeles 10038388   79.0         11.5        9.4
2 Illinois   Cook         5236393   83.9         11.5        4.5
3 Texas      Harris       4356362   83.4         10.1        6.3
  unemployment unemployed_pop
1 10.0         1003839
2 10.7          560294
3  7.5          326727

# select, mutate, filter and arrange

In [59]:
counties %>%
  # Select the five columns 
  select(state, county, population, men, women) %>%
  # Add the proportion_men variable
  mutate(proportion_men = men / population) %>%
  # Filter for population of at least 10,000
  filter(population >= 10000) %>% 
  # Arrange proportion of men in descending order 
  arrange(desc(proportion_men)) %>%
  head()

  state      county         population men   women proportion_men
1 Virginia   Sussex         11864       8130  3734 0.6852664
2 California Lassen         32645      21818 10827 0.6683412
3 Georgia    Chattahoochee  11914       7940  3974 0.6664428
4 Louisiana  West Feliciana 15415      10228  5187 0.6635096
5 Florida    Union          15191       9830  5361 0.6470937
6 Texas      Jones          19978      12652  7326 0.6332966

# Count how many counties has each state

In [62]:
counties %>%
  count(state, sort=T) %>%
  head()

  state    n
1 Texas    253
2 Georgia  159
3 Virginia 133
4 Kentucky 120
5 Missouri 115
6 Kansas   105

# Count Weighted by another variable

In [68]:
counties %>%
  count(state, wt = citizens, sort = TRUE) %>%
  head(3)

  state      n
1 California 24280349
2 Texas      16864864
3 Florida    13933052

# Exercises

## "What are the US states where the most people walk to work?"

In [77]:
counties %>%
  select(region, state, population, walk) %>%
  mutate(population_walk = population * walk / 100) %>%
  # Count weighted by the new column
  count(state, wt = population_walk, sort = TRUE) %>%
  head(3)

  state        n
1 New York     1237938.2
2 California   1017963.7
3 Pennsylvania  505397.2

In [81]:
# or using group_by and summarize
counties %>%
  select(region, state, population, walk) %>%
  mutate(population_walk = population * walk / 100) %>%
  group_by(state) %>%
  summarize(pop_walk = sum(population_walk)) %>% 
  arrange(desc(state)) %>%
  head(3)

  state         pop_walk
1 Wyoming        21981.33
2 Wisconsin     190405.65
3 West Virginia  51493.53

## Extract top 2 states by density

In [91]:
# groupby and add a density column
counties %>%
  group_by(state) %>%
  summarize(total_area = sum(land_area), total_population = sum(population)) %>%
  mutate(density_pop = total_population / total_area ) %>%
  arrange(desc(density_pop)) %>%
  head()

  state        total_area total_population density_pop
1 New Jersey   7354.22    8904413          1210.790
2 Rhode Island 1033.82    1053661          1019.192

Looks like New Jersey and Rhode Island are the “most crowded” of the US states, with more than a thousand people per square mile

## Extract top 2 counties by unemploymet in each state

In [99]:
counties %>%
  group_by(state) %>%
  top_n(2, unemployment)

    census_id state          county                    region        metro
1   1035      Alabama        Conecuh                   South         Nonmetro
2   1131      Alabama        Wilcox                    South         Nonmetro
3   2188      Alaska         Northwest Arctic Borough  West          Nonmetro
4   2290      Alaska         Yukon-Koyukuk Census Area West          Nonmetro
5   4001      Arizona        Apache                    West          Nonmetro
6   4017      Arizona        Navajo                    West          Nonmetro
7   5041      Arkansas       Desha                     South         Nonmetro
8   5107      Arkansas       Phillips                  South         Nonmetro
9   6025      California     Imperial                  West          Metro
10  6047      California     Merced                    West          Metro
11  8025      Colorado       Crowley                   West          Nonmetro
12  8055      Colorado       Huerfano                  West          Nonmetro
13  9003      Connecticut    Hartford                  Northeast     Metro
14  9009      Connecticut    New Haven                 Northeast     Metro
15  9015      Connecticut    Windham                   Northeast     Metro
16  10001     Delaware       Kent                      South         Metro
17  10005     Delaware       Sussex                    South         Metro
18  12047     Florida        Hamilton                  South         Nonmetro
19  12059     Florida        Holmes                    South         Nonmetro
20  13061     Georgia        Clay                      South         Nonmetro
21  13269     Georgia        Taylor                    South         Nonmetro
22  15001     Hawaii         Hawaii                    West          Nonmetro
23  15009     Hawaii         Maui                      West          Metro
24  16045     Idaho          Gem                       West          Metro
25  16079     Idaho          Shoshone                  West          Nonmetro
26  17069     Illinois       Hardin                    North Central Nonmetro
27  17153     Illinois       Pulaski                   North Central Nonmetro
28  18041     Indiana        Fayette                   North Central Nonmetro
29  18149     Indiana        Starke                    North Central Nonmetro
30  19111     Iowa           Lee                       North Central Nonmetro
⋮   ⋮         ⋮              ⋮                         ⋮             ⋮
75  41025     Oregon         Harney                    West          Nonmetro
76  41031     Oregon         Jefferson                 West          Nonmetro
77  42089     Pennsylvania   Monroe                    Northeast     Metro
78  42101     Pennsylvania   Philadelphia              Northeast     Metro
79  44003     Rhode Island   Kent                      Northeast     Metro
80  44007     Rhode Island   Providence                Northeast     Metro
81  45005     South Carolina Allendale                 South         Nonmetro
82  45027     South Carolina Clarendon                 South         Nonmetro
83  46031     South Dakota   Corson                    North Central Nonmetro
84  46137     South Dakota   Ziebach                   North Central Nonmetro
85  47069     Tennessee      Hardeman                  South         Nonmetro
86  47121     Tennessee      Meigs                     South         Nonmetro
87  48047     Texas          Brooks                    South         Nonmetro
88  48247     Texas          Jim Hogg                  South         Nonmetro
89  49017     Utah           Garfield                  West          Nonmetro
90  49021     Utah           Iron                      West          Nonmetro
91  50009     Vermont        Essex                     Northeast     Nonmetro
92  50013     Vermont        Grand Isle                Northeast     Metro
93  51595     Virginia       Emporia city              South         Nonmetro
94  51620     Virginia       Franklin city             South         Nonmetro
95  53027     Washington     Grays Harbor              West          Nonmetro
96  53045     Washington     Mason                     West          Nonmetro
97  54013     West Virginia  Calhoun                   South         Nonmetro
98  54101     West Virginia  Webster                   South         Nonmetro
99  55001     Wisconsin      Adams                     North Central Nonmetro
100 55041     Wisconsin      Forest                    North Central Nonmetro
101 55078     Wisconsin      Menominee                 North Central Nonmetro
102 56013     Wyoming        Fremont                   West          Nonmetro
103 56015     Wyoming        Goshen                    West          Nonmetro
104 56043     Wyoming        Washakie                  West          Nonmetro
    population men    women  hispanic white ⋯ other_transp work_at_home
1    12865       6176   6689  1.6     51.0  ⋯  0.3          1.3
2    11235       5376   5859  0.6     27.4  ⋯  0.9          4.2
3     7732       4165   3567  1.8     11.8  ⋯ 21.2          4.6
4     5644       3038   2606  1.9     21.8  ⋯ 20.1          4.9
5    72124      35663  36461  6.3     19.3  ⋯  1.4          6.3
6   107656      53984  53672 11.1     42.6  ⋯  2.3          7.3
7    12379       5741   6638  4.6     46.4  ⋯  3.5          1.3
8    20391       9529  10862  1.6     35.2  ⋯  1.3          2.8
9   178206      91167  87039 81.8     12.6  ⋯  2.4          4.0
10  263885     133152 130733 56.9     29.9  ⋯  3.4          3.9
11    5551       3145   2406 30.2     61.1  ⋯  0.5          2.3
12    6502       3290   3212 34.6     64.2  ⋯  1.2          5.6
13  896943     434784 462159 16.6     63.9  ⋯  1.2          3.6
14  862224     415679 446545 16.4     65.4  ⋯  1.3          3.7
15  117470      58212  59258 10.5     84.1  ⋯  0.8          3.5
16  169509      81716  87793  6.5     63.7  ⋯  1.0          3.6
17  207302     100782 106520  9.2     74.8  ⋯  1.6          4.9
18   14395       8671   5724  9.2     54.9  ⋯  2.5          3.7
19   19635      10501   9134  2.7     87.3  ⋯  0.4          2.7
20    3104       1510   1594  4.9     31.6  ⋯  0.6          6.8
21    8401       4036   4365  2.3     58.4  ⋯  1.9          3.1
22  191482      95939  95543 12.2     30.8  ⋯  2.2          7.7
23  160863      80790  80073 10.8     31.4  ⋯  3.2          6.1
24   16731       8390   8341  8.0     88.4  ⋯  2.2         10.0
25   12571       6324   6247  3.3     92.4  ⋯  1.9          5.7
26    4228       2184   2044  1.8     96.0  ⋯  1.4          6.2
27    5871       2868   3003  1.8     63.5  ⋯  1.9          4.2
28   23773      11747  12026  1.0     96.0  ⋯  1.7          2.4
29   23117      11395  11722  3.5     94.6  ⋯  0.8          2.6
30   35369      17767  17602  3.3     91.0  ⋯  1.5          2.5
⋮   ⋮          ⋮      ⋮      ⋮        ⋮     ⋱ ⋮            ⋮
75     7229      3632   3597  4.6     87.8  ⋯ 2.0          12.6
76    22061     11313  10748 19.6     60.6  ⋯ 3.0           4.0
77   167881     82806  85075 14.2     68.5  ⋯ 0.7           5.1
78  1555072    734521 820551 13.4     35.8  ⋯ 3.3           3.1
79   164958     79650  85308  4.0     90.2  ⋯ 0.4           2.7
80   630459    305247 325212 20.3     64.0  ⋯ 1.9           3.0
81     9838      5225   4613  2.8     23.2  ⋯ 0.5           3.4
82    34178     16759  17419  2.9     47.1  ⋯ 1.1           2.6
83     4149      2123   2026  0.6     30.9  ⋯ 1.5          19.0
84     2833      1391   1442  3.7     23.7  ⋯ 1.7          20.0
85    26253     14297  11956  1.5     55.1  ⋯ 0.3           5.3
86    11716      5755   5961  1.4     94.9  ⋯ 0.7           1.8
87     7221      3744   3477 92.9      5.1  ⋯ 0.1           3.1
88     5239      2651   2588 91.9      6.6  ⋯ 0.0           1.0
89     5069      2637   2432  5.6     90.2  ⋯ 2.1           4.5
90    47139     23588  23551  8.1     86.6  ⋯ 1.7           2.8
91     6207      3111   3096  1.2     95.9  ⋯ 0.6           7.3
92     6952      3419   3533  1.7     93.6  ⋯ 0.7           7.5
93     5672      2605   3067  3.0     39.2  ⋯ 0.9           2.9
94     8457      3766   4691  1.0     38.2  ⋯ 0.4           3.5
95    71419     36748  34671  9.6     80.1  ⋯ 2.0           3.9
96    60791     31476  29315  8.7     81.9  ⋯ 1.3           3.7
97     7557      3783   3774  1.0     97.3  ⋯ 1.1           1.0
98     8927      4387   4540  0.3     97.7  ⋯ 2.4           3.5
99    20451     11033   9418  3.8     90.6  ⋯ 1.7           4.7
100    9150      4647   4503  2.0     81.0  ⋯ 1.1           6.5
101    4451      2185   2266  5.5     10.5  ⋯ 0.1           4.9
102   40755     20358  20397  6.6     70.5  ⋯ 2.0           6.3
103   13544      7180   6364 10.4     86.5  ⋯ 1.5           7.2
104    8400      4144   4256 14.0     82.4  ⋯ 2.8           4.5
    mean_commute employed private_work public_work self_employed family_work
1   29.7           3718   77.8         13.0         8.3          0.8
2   22.6           2838   68.9         26.0         5.1          0.0
3    7.4           2593   54.0         43.7         2.1          0.2
4    8.6           2077   33.3         61.7         5.1          0.0
5   28.8          18334   50.2         45.0         4.7          0.1
6   22.3          31955   61.1         31.3         7.4          0.3
7   19.2           4355   69.9         25.7         4.5          0.0
8   19.5           6932   69.4         23.6         7.0          0.0
9   21.3          58391   66.6         27.8         5.2          0.4
10  26.1          96170   76.7         16.2         7.0          0.2
11  21.9           1457   66.7         27.3         6.0          0.0
12  22.0           2211   63.2         24.2        12.2          0.5
13  22.7         439719   80.7         14.2         4.8          0.2
14  24.4         419901   81.2         13.2         5.4          0.2
15  26.0          58842   77.8         16.3         5.5          0.4
16  26.1          75246   73.4         22.4         3.9          0.3
17  25.0          90239   78.8         14.7         6.4          0.1
18  22.4           3966   65.9         24.5         8.8          0.8
19  30.0           6118   71.5         22.3         6.1          0.1
20  29.7            848   70.2         20.8         7.7          1.4
21  28.7           2869   67.0         25.3         7.7          0.0
22  25.1          82124   69.7         19.4        10.3          0.5
23  21.3          81619   75.7         15.1         8.8          0.4
24  27.2           5789   67.2         20.5        10.8          1.5
25  18.4           4992   76.9         15.8         6.8          0.4
26  25.2           1493   75.4         18.4         5.7          0.5
27  25.8           1935   71.4         22.5         6.0          0.1
28  26.1           9245   85.3          9.4         5.0          0.2
29  29.3           9583   83.4         11.2         5.3          0.1
30  17.9          16414   81.1         12.7         5.8          0.4
⋮   ⋮            ⋮        ⋮            ⋮           ⋮             ⋮
75  16.0           2901   53.4         29.5        16.2          1.0
76  19.7           8167   69.9         23.3         6.7          0.1
77  38.7          76767   81.0         14.1         4.8          0.1
78  32.5         640661   82.9         13.0         4.0          0.1
79  24.5          86274   82.6         12.7         4.6          0.1
80  23.9         301318   84.6         11.3         4.1          0.1
81  27.5           2866   73.3         21.9         4.8          0.0
82  28.9          11443   75.4         17.8         6.8          0.0
83  19.7           1240   36.1         40.8        21.5          1.5
84  19.6            948   40.9         41.7        16.6          0.8
85  28.2           8256   70.7         22.0         7.2          0.0
86  30.1           3907   81.2         12.6         6.3          0.0
87  20.3           2416   72.8         20.9         6.3          0.0
88  32.4           1786   56.8         30.7        11.7          0.8
89  14.1           2000   70.8         20.1         8.9          0.3
90  18.0          19636   74.6         20.9         4.5          0.0
91  26.3           2683   70.6         17.8        11.1          0.5
92  33.8           3697   78.2         11.7         9.8          0.3
93  20.7           2074   74.1         22.6         3.3          0.0
94  24.2           3429   63.9         28.9         6.3          0.9
95  24.2          26197   71.2         21.7         7.0          0.2
96  31.4          22155   64.5         25.9         9.5          0.1
97  32.9           2511   77.6         17.6         3.3          1.5
98  27.0           2945   79.7         15.4         4.7          0.2
99  28.7           7457   80.0         12.6         7.3          0.2
100 21.4           3559   64.0         25.3        10.6          0.0
101 17.3           1403   36.8         59.1         3.7          0.4
102 18.5          18736   61.8         28.3         9.4          0.5
103 19.2           6080   61.1         27.8        10.9          0.3
104 12.3           3892   70.5         21.5         7.6          0.5
    unemployment land_area
1   22.6            850.16
2   20.8            888.50
3   21.9          35572.58
4   18.2         145504.79
5   18.2          11197.52
6   19.8           9950.42
7   17.7            768.15
8   18.1            695.66
9   17.4           4176.60
10  16.2           1934.97
11  27.0            787.42
12  15.0           1591.00
13   9.3            735.10
14   9.5            604.51
15   9.3            512.91
16   8.4            586.18
17   8.0            936.08
18  15.8            513.79
19  15.4            478.78
20  19.2            195.38
21  20.6            376.69
22   8.1           4028.42
23   6.9           1161.52
24  14.2            560.90
25  11.8           2629.67
26  18.1            177.53
27  16.2            199.19
28  12.1            215.01
29  11.5            309.13
30   8.7            517.52
⋮   ⋮            ⋮
75  16.1         10133.17
76  14.4          1780.79
77  12.0           608.29
78  13.9           134.10
79   8.2           168.53
80   9.5           409.50
81  22.6           408.09
82  16.2           606.94
83  29.4          2469.69
84  27.4          1961.27
85  18.7           667.77
86  15.0           195.12
87  19.8           943.36
88  16.5          1136.14
89   8.6          5175.12
90  10.5          3296.68
91   9.4           663.60
92   7.4            81.81
93  19.1             6.89
94  13.7             8.21
95  14.3          1902.03
96  12.9           959.42
97  18.1           279.25
98  14.8           553.47
99  10.1           645.65
100 10.1          1014.07
101 14.8           357.61
102  7.8          9183.81
103  6.8          2225.39
104  6.8          2238.55

## Group by region and find the greatest number of citizens who walk to work

In [121]:
# Group by region and find the greatest number of citizens who walk to work
counties_selected %>%
  group_by(region) %>%
  top_n(1, walk)

  state        region        county                 population private_work
1 Alaska       West          Aleutians East Borough    3304    78.6
2 New York     Northeast     New York               1629507    83.6
3 North Dakota North Central McIntosh                  2759    62.7
4 Virginia     South         Lexington city            7071    80.3
  public_work self_employed unemployment walk
1 15.4         5.9          2.9          71.2
2  8.5         7.8          7.5          20.7
3 16.6        19.5          1.2          17.5
4 14.9         4.8          2.7          31.7

## Finding the highest-income state in each region

In [122]:
counties %>%
  select(region, state, county, population, income) %>%
  group_by(region, state) %>% 
  summarize(mean_income = mean(income)) %>%
  top_n(1,mean_income)

`summarise()` has grouped output by 'region'. You can override using the `.groups` argument.

  region        state        mean_income
1 North Central North Dakota 55574.87
2 Northeast     New Jersey   73014.10
3 South         Maryland     69200.38
4 West          Alaska       65124.54

## In how many states do more people live in metro areas than non-metro areas?

In [128]:
# a) Find the total population for each combination of state and metro
counties %>%
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  head(2)

`summarise()` has grouped output by 'state'. You can override using the `.groups` argument.

  state   metro    total_pop
1 Alabama Metro    3671377
2 Alabama Nonmetro 1159243

In [130]:
# Extract the most populated row from each state, which will be either Metro or Nonmetro.
counties %>%
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  top_n(1, total_pop) %>% 
  head(2)

`summarise()` has grouped output by 'state'. You can override using the `.groups` argument.

  state   metro total_pop
1 Alabama Metro 3671377
2 Alaska  Metro  494990

In [132]:
# Ungroup, then count how often Metro or Nonmetro appears to see how many states have more people living in those areas.

counties %>%
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  top_n(1, total_pop) %>% 
  ungroup() %>%
  count(metro)

`summarise()` has grouped output by 'state'. You can override using the `.groups` argument.

  metro    n
1 Metro    44
2 Nonmetro  6